.user {
  display: flex;
  border-bottom: 2px solid #f3f3f3;
  padding: 8px 0;
  background-color: #fefffe;
}
.user p {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .user:hover {
    background-color: #f3f3f3;
  }
}
